[submodule "res/models/DREX-model"]
	path = res/models/DREX-model
	url = https://github.com/lexngu/DREX-model.git
[submodule "res/models/idyom"]
	path = res/models/idyom
	url = https://github.com/mtpearce/idyom.git
