# Python
__pycache__/
*.py[cod]
*$py.class

# JetBrains IDEs
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# CMME
io/ppm/*
io/drex/*
io/plot/*

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

.coverage
